@import url('https://fonts.googleapis.com/css?family=Montserrat');

$black: #262626;
$white: #FFFFFF;
$primary: #dd1919;
$third: #d0d0d0;


$font-text: 'Montserrat', sans-serif;

$font-size-large: 1.7rem;
$font-size-regular: 1.5rem;
$font-size-small: 1.2rem;

$font-weight-extrabold: 800;
$font-weight-bold : 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;

$line-height: 1.25;

